* @micdes-pagopa

commons/dev-public-catalog/** @micdes-pagopa @ruggerocastagnola @micheledellipaoli-pagopa @Carminepo2
microservices/*/dev-public-catalog/* @micdes-pagopa @ruggerocastagnola @micheledellipaoli-pagopa @Carminepo2
jobs/*/dev-public-catalog/* @micdes-pagopa @ruggerocastagnola @micheledellipaoli-pagopa @Carminepo2
